@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
    --font-sans: "Kode Mono", monospace;
}

@layer base {
    .wave {
        animation: wave 1.5s linear infinite ;
        animation-delay: calc(1s - var(--i));
    }
}
    
@keyframes wave {
    0%{
        scale: 0;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}